* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: white;
  /* color: #495057;
  transition:
    background-color 0.3s ease,
    color 0.3s ease; */
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
/* === Container === */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* === Header Section === */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px 0;
}

.small-icon {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}

.logo img {
  width: 30px;
}

.logo span {
  color: #2563eb;
  font-size: 22px;
  font-weight: bold;
}

.header-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-right: 68px;
}

.header-details p {
  font-size: 14px;
  cursor: pointer;
}

.bellring-img {
  width: 20px;
  cursor: pointer;
}

.ellipse-img {
  width: 40px;
  cursor: pointer;
}

/* === Aside Section === */

.aside {
  position: fixed;
  height: 100vh;
  width: 5%;
}
.aside-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2563eb;
  gap: 45px;
  padding: 25px;
  height: 100%;
}

.aside-container img {
  width: 20px;
}

.video-img {
  background-color: white;
  border-radius: 2px;
}

/* === Main Section === */

.main-container {
  display: flex;
  flex-direction: column;
  margin-left: 63px;
  padding: 25px 50px;
}

.course-section ul {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

.course-section ul li {
  font-weight: bold;
}

ul li {
  list-style-type: none;
  color: #000;
  font-size: 16px;
}

.module {
  display: none;
}

.completed {
  display: none;
}

.grid-system-curriculum {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 35px;
}

.grid-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 5px;
  max-width: 800px;
}

.grid-heading button {
  background-color: #2563eb;
  padding: 4px 15px;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 11px;
  font-weight: lighter;
  box-shadow: 0px 0px 3px rgb(85, 84, 84);
  cursor: pointer;
}

.grid-systems {
  display: flex;
  width: 100%;
  gap: 25px;
}

.grid-description {
  width: 70%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px silver;
  border-radius: 15px;
  padding: 20px;
}

.sub-heading {
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: lighter;
}

.description {
  font-size: 14px;
  margin-bottom: 30px;
  width: 85%;
}

.download-asset {
  margin-bottom: 35px;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: #2563eb;
}

.mark-complete-btn {
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  font-weight: lighter;
  box-shadow: 0px 0px 3px rgb(85, 84, 84);
  cursor: pointer;
  padding: 10px 20px;
}

/* === Curriculum Section === */

.curriculum {
  /* background-color: chocolate;  */
  box-shadow: 0px 0px 10px silver;
  border-radius: 15px;
}

.heading-curriculum {
  font-size: 18px;
  margin: 10px 15px;
}

.curriculum-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.curriculum-description-container {
  position: relative;
  margin-left: 15px;
}

.curriculum-check {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}

.curriculum-check p {
  font-size: 14px;
}
/* Circle */
.custom-radio {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-right: 12px;
  position: relative;
  z-index: 1;
}

/* THIS is the line between items */
.curriculum-check:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 40px;
  height: 25px;
  width: 5px;
  background: #007bff;
}

.mobile {
  display: none;
}

/* ===*** LESSON CONTENT SECOND PAGE ***=== */
.lesson-content-page-container {
  /* background-color: #cecece; */
  /* box-shadow: none;
  padding: 0; */
}

.page-btn {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.decreament-btn,
.increament-btn {
  padding: 3px 6px;
  border: none;
  border-radius: 3px;
  color: black;
  fill: #ffffff;
  font-weight: bold;
}

.page-desc {
  font-size: 14px;
}

.lesson-content-img-container {
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cecece;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.lesson-img {
  width: 320px;
  height: 350px;
  object-fit: cover;
}

.mark-complete-btn-container {
  background-color: white;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
}

.mark-complete-btn-container button {
  padding: 6px 12px;
  font-size: 14px;
  background-color: #2563eb;
  border: 2px solid #2563eb;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

.head {
  margin-left: 10px;
  padding-bottom: 10px;
}

.curriculum-project-three {
  margin-top: 35px;
}

/* ===*** PROJECT MODULE THREE PAGE ***=== */
.reactangle-heading {
  margin-top: 20px;
  margin-bottom: -10px;
}

.reactangle-btn-container {
  padding-top: 0px;
}

.lesson-three-curriculum {
  padding: 10px;
  margin: 0;
}

.lesson-three-curriculum-container {
  height: auto;
}

/* === PROJECT MODULE 4 PAGE === */
.project-4-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-4-inner-container {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-4-inner-container p {
  font-size: 18px;
}

.project-4-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
  margin-top: 45px;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  box-sizing: 0px 0px 2px silver;
}

.certificate-btn {
  border: 1px solid #2563eb;
  background-color: white;
  color: #2563eb;
}

.dashboard-btn {
  color: white;
  background-color: #2563eb;
  border: 1px solide #2563eb;
}
