/* Small Laptop */
/* min-width: 1024px */

@media screen and (min-width: 1024px) {
  body {
    /* background-color: green; */
  }
}

/* max-width: 72rem */

@media screen and (max-width: 72rem) {
  body {
    /* background-color: blueviolet; */
    overflow-x: hidden;
  }
}

/* MD - Tablet : 768px -1024px */
/* max-width: 51rem */

@media screen and (max-width: 51rem) {
  body {
    /* background-color: orange; */
  }

  .completed {
    display: block;
  }

  .grid-system-curriculum {
    flex-direction: column;
  }

  .grid-systems {
    flex-direction: column;
    width: 100%;
  }

  .grid-description {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .curriculum {
    width: 100%;
  }

  .heading-curriculum {
    margin-left: 10px;
  }

  .curriculum-description-container {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .curriculum-check {
    margin-left: 10px;
    align-items: flex-start;
  }
}

/* SM - PHONE LANDSCAPE: 576PX - 768PX */
/* (max-width: 43rem */

@media screen and (max-width: 43rem) {
  .mobile-header {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    width: 100%;
  }

  .small-icon {
    font-size: 20px;
    font-weight: 800x;
    margin-left: 50px !important;
    display: flex;
  }

  .logo span {
    font-size: 15px;
  }
  .mobile-lady-head-shot {
    margin-left: 40px;
  }

  .header p,
  .bellring-img {
    display: none;
  }

  aside {
    display: none;
  }

  main {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .course-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .course-section ul li {
    color: white;
    font-size: 13px;
  }

  .mobile-display-container {
    border-radius: 10px;
    box-shadow: 0px 0px 10px silver;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
  }

  .mobile-display-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
  }

  .image-desc-container {
    padding: 10px !important;
    width: 100%;
  }

  .image-desc-container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }

  .lesson-content-three h1 {
    font-size: 15px !important;
    margin-bottom: 10px !important;
  }

  .congratulation-message {
    margin-top: 25px;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .congratulation-percentage {
    font-size: 13px;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    border-radius: 10px;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }

  .congralution-complete {
    margin: 10px 0px;
    font-size: 15px;
  }

  .view-btn {
    padding: 12px 24px;
    font-size: 17px;
    background-color: #fff;
    border-radius: 7px;
    border: 1px solid #2563eb;
    color: #2563eb;
    width: 100%;
  }

  .learning-btn {
    padding: 12px 24px;
    font-size: 15px;
    background-color: #2563eb;
    border-radius: 7px;
    border: 1px solid #2563eb;
    color: #fff;
    box-shadow: 0px 0px 4px #0c0c0c;
  }

  .mobile-curriculum {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px silver;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
  }

  .curriculum-stats {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0px 30px;
    align-items: center;
  }

  .curriculum-stats h2 {
    margin: 20px 0px;
    font-size: 14px;
  }

  .curriculum-arrow-down {
    font-size: 13px !important;
  }

  .curriculum-stats p {
    margin-right: 40px;
    font-size: 28px;
    font-weight: 800;
  }

  .curriculum-check {
    width: 90%;
    /* width: 100%; */
  }

  .curriculum-check p {
    font-size: 13px;
  }

  .curriculum-check label {
    font-size: 18px;
  }
  .curriculum-description-container {
    display: flex;
    /* background-color: green; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .curriculum-check:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 25px;
    height: 15px;
    width: 5px;
    background: #007bff;
  }
  .mobile-images {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2563eb;
  }

  .mobile-images img {
    width: 20px;
  }
  .frame-img {
    width: 100% !important;
    height: inherit !important;
    object-fit: cover !important;
  }

  .lesson-content-three h1 {
    margin-bottom: 10px;
    font-size: 22px;
  }

  .lesson-content-three button {
    margin-left: 240px;
    padding: 6px 12px;
    background-color: #2563eb;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 4px silver;
  }

  .lesson-content-description {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    justify-content: flex-start !important;
    margin: 20px !important;
    align-items: flex-start !important;
  }

  .lesson-description {
    text-align: left;
    font-size: 14px;
    width: 100%;
  }

  .lesson-download {
    text-align: left;
    font-size: 14px;
  }

  .mobile-display-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .mobile-display-container div {
    padding: 0;
    margin: 0;
  }

  .mobile-screen {
    display: flex;
    flex-direction: row !important;
    background-color: #cecece;
    padding: 15px !important;
    width: 100%;
  }

  .image-container {
    background-color: #eaeaea;
    width: 100%;
  }

  .image-container img {
    width: 90%;
  }

  .mobile-btn-container {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .mobile-download-btn {
    background-color: #2563eb;
    padding: 12px 24px;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px silver;
    color: white;
    width: 100% !important;
  }

  .stats {
    margin: 20px 0 !important;
    width: 100%;
  }

  .new-stats {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 20px;
    padding: 5px !important;
    border-radius: 10px;
    box-shadow: 0px 0px 4px silver;
  }

  .new-stats h2 {
    font-size: 14px;
  }
}

/* XS - PHONE PORTRAINT: < 576px */
/* max-width: 600px */

@media screen and (max-width: 600px) {
  body {
    /* background-color: red; */
  }
}
